{% extends 'main/base.html' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="form-control">
        {% csrf_token %}
        <h3>{{ employee.name }}</h3>
        <p>{{ employee.email }}</p>
        <p>{{ employee.age }}</p>
        <p>{{ employee.phone }}</p>
        <p>{{ employee.role.name }}</p>
        <img src="{{ employee.image.url }}" height="150" width="150">

    </div>
    <a href="{% url 'editEmployee' %}?employee_id={{ employee.id }}"><button class="btn btn-primary">Edit</button></a>
    <a href="{% url 'dellEmployeeSure' %}?employee_id={{ employee.id }}"><button class="btn btn-danger">Dell</button></a>
    <a href="{% url 'getEmployees' %}"><button class="btn btn-primary">return</button></a>
{% endblock %}


